@model IEnumerable<Propertymanagerment.Models.Installment_Contract>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Installment_Contract_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year_Of_Birth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SSN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Of_Contract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Installment_Payment_Method)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment_Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loan_Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property.Property_Code)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Installment_Contract_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year_Of_Birth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Of_Contract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Installment_Payment_Method)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment_Period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deposit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loan_Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Property.Property_Code)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
