@model PropertyManagerment.Models.Installment_Contract

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Installment_ContractAdmin"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Installment_Contract</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
    </div>
    <div class="col-12">
        <div class="card card-danger">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-title">THÔNG TIN KHÁCH HÀNG</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> TÊN KHÁCH HÀNG</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Customer_Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Customer_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label> NĂM SINH KHÁCH HÀNG </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Year_Of_Birth, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Year_Of_Birth, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label> SỐ ĐIỆN THOẠI KHÁCH HÀNG </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label> CHỨNG MINH NHÂN DÂN  </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SSN, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SSN, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label> ĐỊA CHỈ CƯ TRÚ  </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Customer_Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Customer_Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-title">
                        THÔNG TIN HỢP ĐỒNG BẤT ĐỘNG SẢN
                    </h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> MÃ SỐ BẤT ĐỘNG SẢN</label>
                            <div class="col-md-10">
                                @Model.Property.Property_Code
                            </div>
                        </div>

                        <div class="form-group">
                            <label>GIÁ BÁN CỦA BẤT ĐỘNG SẢN</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>SỐ TIỀN ĐÃ CỌC</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Deposit, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Số tiền đã trả góp</label>
                            <div class="col-md-10">
                                @{decimal depo = Model.Price.Value * 0.1M;}
                                @Html.TextBox("Taken", depo, new { @class = "form-control", @readonly = "@readonly" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> PHƯƠNG THỨC TRẢ GÓP </label>
                            <div class="col-md-10">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Installment_Payment_Method, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Installment_Payment_Method, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label> THỜI HẠN TRẢ GÓP </label>
                            <div class="col-md-10">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Payment_Period, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Payment_Period, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label> KHOẢNG VAY TRẢ GÓP </label>
                            <div class="col-md-10">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Loan_Amount, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Loan_Amount, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>TRẠNG THÁI HỢP ĐỒNG</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Status)


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div><input type="submit" value="Thêm" class="btn btn-info" style="float:left; margin-left:20%"></div>
            <div class="btn btn-warning" style="margin-left:50%">@Html.ActionLink("Quay lại", "Index")</div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
