@model IEnumerable<Propertymanagerment.Models.Installment_Contract>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    h2 {
        font-weight: bold; 
        text-align: center;
        color: chartreuse;
        margin-top: 7px;
        margin-bottom: -7px;
    }

    html {
        width: fit-content;
    }

    .btn-primary {
        margin-left: 20px;
        margin-top: 5px;
    }

    .btn-primary:hover {
        font-weight: bold;
        color: yellow;
    }

    th {
        text-align: center;
        background-color: orange;
        color: forestgreen;
    }

    td {
        text-align: center;
    }
    
    .btn-info:hover {
        font-weight: bold;
    }

    .btn-warning:hover {
        font-weight: bold;
    }

    .btn-danger:hover {
        font-weight: bold;
    }

    .btn-default:hover {
        font-weight: bold;
    }
</style>

<title>Quản Lý Hợp Đồng Trả Góp</title>

<h2>QUẢN LÝ HỢP ĐỒNG TRẢ GÓP</h2>
<hr />
<p>
    @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-primary" })
</p>

<div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
        <tr>
            <th>
                Installment Contract Code
            </th>
            <th>
                Customer Name
            </th>
            <th>
                Year Of Birth
            </th>
            <th>
                SSN
            </th>
            <th>
                Customer Address
            </th>
            <th>
                Mobile
            </th>
            <th>
                Date Of Contract
            </th>
            <th>
                Installment Payment Method
            </th>
            <th>
                Payment Period
            </th>
            <th>
                Price
            </th>
            <th>
                Deposit
            </th>
            <th>
                Loan Amount
            </th>
            <th>
                Taken
            </th>
            <th>
                Remain
            </th>
            <th>
                Status
            </th>
            <th>
                Property Code
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="font-weight: bold">
                    @Html.DisplayFor(modelItem => item.Installment_Contract_Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year_Of_Birth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SSN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Of_Contract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Installment_Payment_Method)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment_Period)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deposit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Loan_Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Taken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remain)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property.Property_Code)
                </td>
                <td>
                    <div>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-warning" })
                    </div>
                    <p></p>
                    <div>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                    </div>
                    <p></p>
                    <div>
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" })
                    </div>
                    <p></p>
                    <div class="btn btn-default">
                        <a href="@Url.Action("Print", "InstallmentContract", new { id = item.ID })" target="_blank">Print</a>
                    </div>
                </td>
            </tr>
        }

    </table>
</div>
