@model Propertymanagerment.Models.Property

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    h2 {
        font-weight: bold;
        margin-bottom: -10px;
        margin-top: 10px;
    }

    .btn-default {
        margin-bottom: 10px;
    }
</style>

<title>Tạo Mới Bất Động Sản.</title>

<h2>Tạo Mới Bất Động Sản</h2>

@using (Html.BeginForm("Create", "PropertyAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Property_Name, "Property Name:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Property_Name)
                @Html.ValidationMessageFor(model => model.Property_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Property_Type_ID, "Property Type:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Property_Type_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.Property_Type_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Description:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea rows="3" cols="45" data-val="true" data-val-required="Bạn chưa nhập mô tả bất động sản" id="Description" name="Description"></textarea>
                <span class="field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.District_ID, "District:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("District_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.District_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, "Address:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea rows="2" cols="45" data-val="true" data-val-required="Bạn chưa nhập Địa Chỉ" id="Address" name="Address"></textarea>
                <span class="field-validation-valid" data-valmsg-for="Address" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Area, "Area:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Area)
                @Html.ValidationMessageFor(model => model.Area)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bed_Room, "Bed Room:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bed_Room)
                @Html.ValidationMessageFor(model => model.Bed_Room)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bath_Room, "Bath Room:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bath_Room)
                @Html.ValidationMessageFor(model => model.Bath_Room)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, "Price:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Installment_Rate, "Installment Rate:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Installment_Rate) %
                @Html.ValidationMessageFor(model => model.Installment_Rate)
            </div>
        </div>

        <div class="form-group">
            <label for="1339" class="control-label col-md-2">Avatar:</label>
            <div class="col-md-10">
                <input type="file" style="color:red" name="Image" id="1339" onchange="readIMG(this)" required />
                <img id="Demo" />
            </div>
        </div>

        <div class="form-group">
            <label for="1339" class="control-label col-md-2">Album:</label>
            <div class="col-md-10">
                <input type="file" style="color:red" name="Image" id="1339" onchange="readIMG(this)" required />
                <img id="Demo" />

                <input type="file" style="color:red" name="Image1" id="1339" onchange="readIMG(this)" required />
                <img id="Demo" />

                <input type="file" style="color:red" name="Image2" id="1339" onchange="readIMG(this)" required />
                <img id="Demo" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Property_Status_ID, "Property Status:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Property_Status_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.Property_Status_ID)
            </div>
        </div>

        <div class="form-group" align="center">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function readIMG(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(input).next()
                        .attr('src', e.target.result)
                        .width(150)
                        .height(150);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
