@model Propertymanagerment.Models.Property

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>XÓA BẤT ĐỘNG SẢN</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "PropertyAdmin")">DANH SÁCH BẤT ĐỘNG SẢN</a></li>
                    <li class="breadcrumb-item active">XÓA BẤT ĐỘNG SẢN</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<div>

    @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Property_Code)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Property_Code)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Property_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Property_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Area)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Area)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Bed_Room)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bed_Room)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Bath_Room)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bath_Room)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Installment_Rate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Installment_Rate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Avatar)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Avatar)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Album)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Album)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.District.District_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.District.District_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Property_Status.Property_Status_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Property_Status.Property_Status_Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Property_Type.Property_Type_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Property_Type.Property_Type_Name)
            </dd>

        </dl>*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Raw(TempData["msg"])
        <div class="col-12">
            <div class="card card-danger">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-title">THÔNG TIN BẤT ĐỘNG SẢN</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label> TÊN BẤT ĐỘNG SẢN</label>
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Property_Name)
                                </div>
                            </div>

                            <div class="form-group">
                                <label> LOẠI BẤT ĐỘNG SẢN</label>
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Property_Type.Property_Type_Name)
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label> CHỌN TỈNH THÀNH  </label>
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.District.District_Name)
                                </div>
                            </div>
                            <div class="form-group">
                                <label> MÔ TẢ BẤT ĐỘNG SẢN  </label>
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Description)
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-warning" style="margin-left:5%" />
                <div class="btn btn-primary" style="margin-left:50%">@Html.ActionLink("Quay lại", "Index")</div>
            </div>
        </div>
    }
</div>
