@model Propertymanagerment.Models.Property

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<title>Xem Chi Tiết Bất Động Sản</title>

<style>
    img {
        width: 150px;
        height: 150px;
    }

    h2 {
        margin-top: 5px;
        margin-bottom: -10px;
        text-align: center;
        font-weight: bold;
    }

    tr:hover {
        background-color: chartreuse;
    }
</style>

<h2>Chi Tiết Bất Động Sản</h2>

<div>
    <hr />
    <table class="table table-bordered success">
        <tr>
            <th>
                Property Code:
            </th>
            <td id="Large">
                @Html.DisplayFor(model => model.Property_Code)
            </td>
        </tr>

        <tr>
            <th>
                Property Name:
            </th>
            <td id="Large">
                @Html.DisplayFor(model => model.Property_Name)
            </td>
        </tr>

        <tr>
            <th>
                Property Type:
            </th>
            <td id="Large">
                @Html.DisplayFor(model => model.Property_Type.Property_Type_Name)
            </td>
        </tr>

        <tr>
            <th>
                Description:
            </th>
            <td id="Large">
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>

        <tr>
            <th>
                District:
            </th>
            <td id="Large">
                @Html.DisplayFor(model => model.District.District_Name)
            </td>
        </tr>

        <tr>
            <th>
                Address:
            </th>
            <td id="Large">
                @Html.DisplayFor(model => model.Address)
            </td>
        </tr>

        <tr>
            <th>
                Area:
            </th>
            <td id="Large">
                @Html.DisplayFor(model => model.Area)
            </td>
        </tr>

        <tr>
            <th>
                Bed Room:
            </th>
            <td id="Large">
                @Html.DisplayFor(model => model.Bed_Room)
            </td>
        </tr>

        <tr>
            <th>
                Bath Room:
            </th>
            <td id="Large">
                @Html.DisplayFor(model => model.Bath_Room)
            </td>
        </tr>

        <tr>
            <th>
                Price:
            </th>
            <td id="Large">
                @Html.DisplayFor(model => model.Price)
            </td>
        </tr>

        <tr>
            <th>
                Installment Rate:
            </th>
            <td id="Large">
                @Html.DisplayFor(model => model.Installment_Rate)%
            </td>
        </tr>

        <tr>
            <th>
                Avatar:
            </th>
            <td id="Large">
                <img src="@Url.Action("Image", new { id = Model.ID }) " />
            </td>
        </tr>

        <tr>
            <th>
                Album:
            </th>
            <td id="Large">
                <img src="@Url.Action("Image", new { id = Model.ID }) " />
                <img src="@Url.Action("Image1", new { id = Model.ID }) " />
                <img src="@Url.Action("Image2", new { id = Model.ID }) " />
            </td>
        </tr>

        <tr>
            <th>
                Property Status:
            </th>
            <td id="Large">
                @Html.DisplayFor(model => model.Property_Status.Property_Status_Name)
            </td>
        </tr>
    </table>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Navigate to Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>
