@model Propertymanagerment.Models.Property

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<title>Update Property.</title>

<style>
    input[id='Property_Name'] {
        width: 400px;
    }

    input {
        height: 38px;
    }
</style>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>CẬP NHẬT BẤT ĐỘNG SẢN</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "PropertyAdmin")">DANH SÁCH BẤT ĐỘNG SẢN</a></li>
                    <li class="breadcrumb-item active">CẬP NHẬT</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

@using (Html.BeginForm("Edit", "PropertyAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="col-12">
        <div class="card card-danger">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-title">THÔNG TIN BẤT ĐỘNG SẢN</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> TÊN BẤT ĐỘNG SẢN</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Property_Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                @Html.ValidationMessageFor(model => model.Property_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label> LOẠI BẤT ĐỘNG SẢN</label>
                            <div class="col-md-10">
                                @Html.DropDownList("Property_Type_ID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Property_Type_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label> CHỌN TỈNH THÀNH  </label>
                            <div class="col-md-10">
                                @if (ViewBag.City_ID != null)
                                {
                                    @Html.DropDownListFor(model => model.District.City_ID, ViewBag.City_ID as SelectList, "-Select city-", new { @id = "ddlCity", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.District.City_ID, "", new { @class = "text-danger" })
                                }
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label> CHỌN QUẬN HUYỆN    </label>
                            <div class="col-md-10">
                                @Html.DropDownList("District_ID", null, htmlAttributes: new { @id = "ddlDistrict", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.District_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-title">THÔNG TIN BẤT ĐỘNG SẢN</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>MÔ TẢ BẤT ĐỘNG SẢN</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>ĐỊA CHỈ BẤT ĐỘNG SẢN</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>DIỆN TÍCH BẤT ĐỘNG SẢN</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>SỐ LƯỢNG PHÒNG NGỦ </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Bed_Room, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Bed_Room, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>SỐ LƯỢNG PHÒNG TẮM</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Bath_Room, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Bath_Room, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label> DỊCH VỤ ĐI KÈM</label>
                            <div class="col-md-10">

                                @Html.ListBox("Service_ID", null, htmlAttributes: new
                                {
                                    @class = "form-control selectpicker show-tick"
                               ,
                                    @multiple = true
                                })

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card card-info">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-title">THÔNG TIN BÁN</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>GIÁ BÁN CỦA BẤT ĐỘNG SẢN </label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } }) VNĐ
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>LÃI SUẤT TRẢ GÓP</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Installment_Rate, new { htmlAttributes = new { @class = "form-control" } }) %
                                @Html.ValidationMessageFor(model => model.Installment_Rate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>TRẠNG THÁI BẤT ĐỘNG SẢN </label>
                            <div class="col-md-10">
                                @Html.DropDownList("Property_Status_ID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Property_Status_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card card-success">
            <div class="card-header">
                <div class="card-title">
                    ẢNH ĐẠI DIỆN BẤT ĐỘNG SẢN
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-10">
                            <div class="col-sm-2">
                                <a href="@(Url.Content("~/Images/" + Model.Avatar))" data-toggle="lightbox" data-gallery="gallery">
                                    @if (!String.IsNullOrEmpty(Model.Avatar) && Model.Avatar != "")
                                    {<img src="@(Url.Content("~/Images/" + Model.Avatar))" width="300" style="margin-left: 2000%" />}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <input name="file" type="file" style="margin-left:650%" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">
                    ALBUM BẤT ĐỘNG SẢN
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    @Html.LabelFor(model => model.Album, "Ảnh khác", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @if (!String.IsNullOrEmpty(Model.Album) && Model.Album != "")
                        {
                            for (int i = 0; i < Model.Album.Split(';').Count();)
                            {
                                foreach (var image in Model.Album.Split(';'))
                                {
                                    if (!String.IsNullOrEmpty(image) || image != "")
                                    {
                                        <span id="image-@(i)">
                                            <a href="@(Url.Content("~/Images/" + image))" data-toggle="lightbox">
                                                <img src="@(Url.Content("~/Images/" + image))" width="200" />
                                            </a>
                                            <p><button type="button" id="album" name="files" class="btn btn-danger" onclick="@("deleteImage(\"" + image + "\"," + Model.ID + "," + i + ");")" onchange="readIMG(this)">Delete</button></p>
                                        </span>
                                        i++;
                                    }
                                }
                            }
                        }
                        <div class=" card-body">
                            <div class="form-group">
                                <input name="files" type="file" multiple />
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div align="center">
                <input type="submit" value="Cập nhật" class="btn btn-primary" style="margin-left:5%" />
            </div>
            <div class="btn btn-warning">@Html.ActionLink("Quay lại", "Index")</div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            var districtUrl = "/PropertyAdmin/GetDistrictByCityId/";
            $("#ddlCity").on('change', function () {
                var id = $(this).val();
                _getDistrict(id, "ddlDistrict");
            });
            function _getDistrict(id, targetId) {
                $.get(districtUrl + id, function (data) {
                    if (data != null && data != undefined && data.length) {
                        var html = '';
                        html += '<option value="">--Select district--</option>';
                        $.each(data, function (key, item) {
                            html += '<option value=' + item.ID + '>' + item.District_Name + '</option>';
                        });
                        $("#" + targetId).html(html);
                    } else {
                        var html = '';
                        html += '<option value="">--No district--</option>';
                        $("#" + targetId).html(html);
                    }
                });
            }
        });
    </script>
    <script>
        function deleteImage(image, id, i) {
            event.preventDefault();
            $.post("/PropertyAdmin/deleteImage/",
                {
                    imageName: image,
                    id: id
                },
                function (data, status) {
                    $("#album").val(data);
                    $("#image-" + i).hide();
                });
        }
    </script>
    <script>
        $(function () {
            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });

            $('.filter-container').filterizr({ gutterPixels: 3 });
            $('.btn[data-filter]').on('click', function () {
                $('.btn[data-filter]').removeClass('active');
                $(this).addClass('active');
            });
        })
    </script>
    <script>
            function readIMG(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $(input).next()
                            .attr('src', e.target.result)
                            .width(150)
                            .height(150);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
        </script>
}