@model IEnumerable<Propertymanagerment.Models.Property>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<title>Quản Lý Bất Động Sản</title>

<style>
    h2 { 
        font-weight: bold;
        text-align: center;
        color: blueviolet; 
        margin-top: 7px;
        margin-bottom: -7px;
    }

    .btn-primary {
        margin-left: 20px;
        margin-top: 5px;
    }

    .btn-primary:hover {
        font-weight: bold;
        color: yellow;
    }

    img {
        width: 150px;
        height: 150px;
    }

    th {
        text-align: center;
        background-color: chartreuse;
        color: coral;
    }

    td {
        text-align: center;
    }

    .btn-info:hover {
        font-weight: bold;
    }

    .btn-warning:hover {
        font-weight: bold;
    }

    .btn-danger:hover {
        font-weight: bold;
    }
</style>

<h2>QUẢN LÝ BẤT ĐỘNG SẢN</h2>
<hr />

<p>
    @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-primary" })
</p>

<div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Property Code</th>
                <th>Property Name</th>
                <th>Price</th>
                <th>Avatar</th>
                <th>Property Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="font-weight: bold">
                        @Html.DisplayFor(modelItem => item.Property_Code)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Property_Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    
                    <td>
                        <img src="@Url.Action("Image", new { id = item.ID })" />
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Property_Status.Property_Status_Name)
                    </td>
                    
                    <td>
                        <div>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-warning" })
                        </div>
                        <p></p>
                        <div>
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
                        </div>
                        <p></p>
                        <div>
                            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info" })
                        </div>
                    </td>
                </tr>
            }

        </tbody>
        
    </table>
</div>

